.custom-footer {
  background-color: #000;
  color: beige;
  padding: 2rem;
}

.footer-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
}

.footer-col {
  flex: 1 1 18%;
  min-width: 180px;
}

.image-col img {
  max-width: 100%;
  height: auto;
}

.newsletter-container {
  display: flex;
  justify-content: center;
  padding: 1rem;
  background-color: #000;
  gap: 1rem;
}

.newsletter-input {
  padding: 0.6rem 1rem;
  border: none;
  border-radius: 4px;
  flex: 1;
  max-width: 300px;
}

.newsletter-btn {
  padding: 0.6rem 1.2rem;
  background-color: #f93a13;
  color: white;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
}

.footer-col ul {
  list-style: none; /* Remove bullet points */
  padding: 0;
  margin: 0;
}

.footer-col li {
  margin: 0.5rem 0;
}

.footer-col a {
  color: beige;
  text-decoration: none;
  transition: text-decoration 0.2s ease;
}

.footer-col a:hover,
.footer-col a:focus,
.footer-col a:active {
  text-decoration: underline;
}


@media (max-width: 1024px) {
  /* iPad portrait styles */
  /* Styles that are specific to iPad in portrait mode */
    .image-col img {
 transform: translate(-40px);
}
 

  .footer-col {
    width: 100%;
    max-width: 400px;
  }

  .newsletter-container {
    flex-direction: column;
    align-items: center;
  }

  .newsletter-input,
  .newsletter-btn {
    width: 100%;
    max-width: 300px;
  }




}
@media only screen and (min-width: 1025px) and (max-width: 1280px) {
  /* iPad landscape styles */
  /* Styles that are specific to iPad in landscape mode */
      .image-col img {
 transform: translate(-40px);
}

  .footer-col {
    width: 100%;
    max-width: 400px;
  }

  .newsletter-container {
    flex-direction: column;
    align-items: center;
  }

  .newsletter-input,
  .newsletter-btn {
    width: 100%;
    max-width: 300px;
  }
}

@media(max-width:1280px){
  .map-col{
    display: none;
  }
}

@media(max-width:767px){
  .footer-col {
 font-size:7px;
   min-width: 50px;
}
h4{
  font-size:10px
}
.image-col img {
  max-width: 100%;
  height: auto;
}
}

.footp:hover{
cursor: pointer;
text-decoration: underline;
}