@font-face {
  font-family: 'Safira March';
  src: url('https://pub-1c90d57131af47bb83ef8cbe45591a57.r2.dev/srcassets/SafiraMarch.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Black Pen Script';
  src: url('https://pub-1c90d57131af47bb83ef8cbe45591a57.r2.dev/srcassets/Black%20Pen.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
*{
  box-sizing: border-box;
}
/* ================= Global Reset ================= */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
}

/* ================= Landing Section ================= */
.landing {
  background: linear-gradient(90deg, #375d53, #1a1d1e);

}

@media(max-width: 1024px) {
  .landing {
    min-height: auto;
  }
}

/* ================= Hero Section ================= */
.hero-section {
  position: absolute;
  left: 20vw;
  top: -20px;
  z-index: 4;
  width: 1250px;
}

.rotate-layer
 {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: contain;
  z-index: 2;
  animation: spin 20s linear infinite;
    left: -20vw;
  top: 0;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* ================= Responsive Adjustments ================= */
@media screen and (max-width: 1024px) {
  .hero-section {
    position: relative;
    display: block;
    margin: 0 auto;
    top: -80px;
    left: -60px;
    max-width: 80%;
    height: auto;
  }

  .rotate-layer {
    position: relative !important;
    display: block !important;
    margin: 20px auto 0 !important;
    top: -100px;
    left: auto !important;
    width: 80% !important;
    height: auto !important;
    max-width: 800px;
    z-index: 1;
    transform-origin: center;
  }

}

@media screen and (max-width: 768px) {

  .hero-section {
    top: -80px;
    left: -35px;
  }
}

@media(min-width: 1280px) and (max-width: 1500px) {
  .rotate-layer { width: 85%; }
  .hero-section { left: 10vw; top: 10vh; width: 1150px; }
}


@media(min-width: 1700px) and (max-width: 1920px) {
  .rotate-layer { width: 85%; }
  .hero-section { left: 20vw; top: 10vh; width: 1450px; }
}

.btn-link {
  color: inherit;
  text-decoration: none;
  display: inline-block;
  padding:0
}

.btn-link:hover,
.btn-link:focus,
.btn-link:active,
.btn-link:visited {
  color: inherit;
  text-decoration: none;
  outline: none;
}
.row > .btn-link {
  display: inline-block; /* or inline, depending on your layout */
  width: auto;
  flex: none;
}
